<!DOCTYPE html>
<html lang="en">
    <head>
        {% extends "AppCarwash/padre.html" %}
        {% load static %}
        
    </head>

    <body>
        {% block body %}
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Turnos</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        
        <!-- Price Start -->
        <div class="price">
            <div class="container">
                <div class="section-header text-center">
                    <p>Combos</p>
                    <h2>Elegi el tuyo</h2>
                </div> 
                <div class="row">
                    <div class="col-md-4">
                        <div class="price-item">
                            <div class="price-header">
                                <h3>Lavado Premium Basico</h3>
                                <h2><span>$</span><strong>10.000</strong><span>.00</span></h2>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li><i class="far fa-check-circle"></i>Lavado Premium</li>
                                    <li><i class="far fa-check-circle"></i>Aspirado</li>
                                    <li><i class="far fa-check-circle"></i>Lavado de llantas</li>
                                    <li><i class="far fa-times-circle"></i>Limpieza de interior</li>
                                    <li><i class="far fa-times-circle"></i>Pulido Vehicular</li>
        
                                </ul>
                            </div>
                            <div class="price-footer">
                                <a class="btn btn-custom" href="/AppCarwash/login/">Agendar Turno</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="price-item featured-item">
                            <div class="price-header">
                                <h3>Lavado Premium Plus</h3>
                                <h2><span>$</span><strong>25.000</strong><span>.00</span></h2>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li><i class="far fa-check-circle"></i>Lavado Premium</li>
                                    <li><i class="far fa-check-circle"></i>Aspirado</li>
                                    <li><i class="far fa-check-circle"></i>Lavado de llantas</li>
                                    <li><i class="far fa-check-circle"></i>Limpieza de interior</li>
                                    <li><i class="far fa-times-circle"></i>Pulido Vehicular</li>
                                </ul>
                            </div>
                            <div class="price-footer">
                                <a class="btn btn-custom" href="/AppCarwash/login/">Agendar Turno</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="price-item">
                            <div class="price-header">
                                <h3>Lavado Premium Deluxe</h3>
                                <h2><span>$</span><strong>50.000</strong><span>.00</span></h2>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li><i class="far fa-check-circle"></i>Lavado Premium</li>
                                    <li><i class="far fa-check-circle"></i>Aspirado</li>
                                    <li><i class="far fa-check-circle"></i>Lavado de llantas</li>
                                    <li><i class="far fa-check-circle"></i>Limpieza de interior</li>
                                    <li><i class="far fa-check-circle"></i>Pulido Vehicular</li>
                                </ul>
                            </div>
                            <div class="price-footer">
                                <a class="btn btn-custom" href="/AppCarwash/login/">Agendar Turno</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="price">
            <div class="container">
                <div class="section-header text-center">
                    <p>Servicios</p>
                    <h2>Elegi el tuyo</h2>
                </div>
                <div class="row"> 
                    <div class="col-md-4">
                        <div class="price-item">
                            <div class="price-header">
                                <h3>Pulido Vehicular</h3>
                                <h2><span>$</span><strong>20.000</strong><span>.00</span></h2>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li><i class="far fa-check-circle"></i> Abrillantamiento completo</li>
                                </ul>
                            </div>
                            <div class="price-footer">
                                <a class="btn btn-custom" href="/AppCarwash/login/">Agendar Turno</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="price-item featured-item">
                            <div class="price-header">
                                <h3>Pulido de Opticas</h3>
                                <h2><span>$</span><strong>8.000</strong><span>.00</span></h2>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li><i class="far fa-check-circle"></i>Pulido de Opticas Delanteras</li>
                                </ul>
                            </div>
                            <div class="price-footer">
                                <a class="btn btn-custom" href="/AppCarwash/login/">Agendar Turno</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="price-item">
                            <div class="price-header">
                                <h3>Polarizado</h3>
                                <h2><span>$</span><strong>28.000</strong><span>.00</span></h2>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li><i class="far fa-check-circle"></i>Polarizado completo de vehiculo</li>
                                </ul>
                            </div>
                            <div class="price-footer">
                                <a class="btn btn-custom" href="/AppCarwash/login/">Agendar Turno</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="price">
            <div class="container">
                <div class="row">
                    <div class="col-md-4" style="margin-left:370px;">
                        <div class="price-item featured-item">
                            <div class="price-header">
                                <h3>Wrapping Vehicular</h3>
                                <h2><span>PEDIR</span></h2>
                                <h2><span><strong>PRESUPUESTO</strong></span></h2>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li><i class="far fa-check-circle"></i>Wrapping vehicular completo</li>
                                </ul>
                            </div>
                            <div class="price-footer">
                                <a class="btn btn-custom" href="/AppCarwash/login/">Presupuesto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Price End -->
	    {% endblock %}
    </body>
</html>
