<!DOCTYPE html>
<html lang="en">
    <head>
        {% extends "AppCarwash/padre.html" %}
        {% load static %}
        
    </head>

    <body>
        {% block body %}
          <!-- Page Header Start -->
          <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Ubicación</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        
        <!-- Location Start -->
        <div class="location">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="section-header text-left">
                            <p>Ubicación</p>
                            <h2>Lavados y Detailing</h2>
                        </div>
                        <div class="row" style="margin-left: 60px;">
                            <div class="col-md-6">
                                <div class="location-item">
                                    <i class="fa fa-map-marker-alt"></i>
                                    <div class="location-text">
                                        <h3>M&A Garage</h3>
                                        <p>Av. Triunvirato 6320 - Villa Bosch, Tres de Febrero, Buenos Aires, Argentina (1682)</p>
                                        <p><strong>Telefono:</strong>+54 11 32779559</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4"style="margin-top: 50px;">
                    <div class="col-md-12"style="margin-right: 50px;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.9262007229377!2d-58.57829392546196!3d-34.580733856282585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb9c70a959bff%3A0x19861a4d13570609!2sTriunvirato%206320%2C%20Billinghurst%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1696705196421!5m2!1ses-419!2sar" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                    
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Location End -->
	    {% endblock %}
    </body>
</html>
